
<h1>
  <strong>Short url: </strong>
<%= @base_url + @url.short_url %>
</h1>

<p>
  <strong>Number of accesses: </strong>
  <%= @url.clicks %>
</p>

<p>
  <strong>IP address: </strong>
  <% @url.ip_addresses.each do |ip| %>
    <%= if !ip.nil? then ip end %><br>
  <% end %>
</p>

<%= link_to 'Back', urls_path %>
